@charset "utf-8";

   * {margin:0 auto; box-sizing: border-box;}
           @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300&display=swap');
           html, body, h1, h2, h3, h4, h5, h6, li, p {font-family: 'DM Sans', sans-serif;}
           ul,ol,li {list-style: none; margin: 0; padding: 0;}
           
   
           @media(max-width:599px){
                
           .blank1{width:100%; height:80px;}
           #wrap {width:100%; height:auto; margin:0 auto;}
  
           /*헤더 시작*/
           #top {width:100%; height:110px; margin:0 auto; position:absolute;}
           #topbox{width:100%; height:110px; margin:0 auto; display:flex; justify-content:space-between; align-items:center;}
           #topbox>#logobox {width:200px; height:65px; display:flex; align-items:center; justify-content:space-around;} 
           #topbox>#logobox>a>img {width:55px; height: 64px; filter:brightness(100);}
           #topbox>#logobox>span {font-size:12px; color: #fff; font-weight:1000;}
           #toggle_menu>ul {height:auto; display: flex; justify-content: center; align-items:center;}
           #toggle_menu>ul>li {height:30px; font-size:13px; font-weight:bold; color: #fff; padding: 0px 55px;}
           #toggle_menu>ul>li>a{text-decoration:none; color:#fff;}
           #utility{height:50px; display:flex; justify-content:space-around; align-items: center;}
           #utility>a>.icon1 {width:20px; height: 20px; margin:0px 0px 0px 20px}
           #btn1 {height:55px; background: none; border: 1px solid#fff; margin:0px 0px 0px 10px;}
           #btn1>a {text-decoration: none; color: #fff; font-size: 18px; font-weight: bold;}
                      
           #toggle_menu2 > ul{height:auto;}
           #toggle_menu2 > ul > li{width:100%; height:45px; font-size:13px; font-weight:bold; background-image:linear-gradient(rgb(0,0,0,0.85),rgb(0,0,0,0.85));}
           #toggle_menu2 > ul > li > a{width:100%; height:45px; text-decoration:none; color:#fff; padding:15px; display:flex; align-items:center;}
           #toggle_menu2 > ul > li > a:hover{background-color:#fff; color:#000;}
                    
           #btn1{display:none;}
           #utility{display:none;}
           #toggle_menu{display:none;}
           #toggle_menu{display:none;}
           #toggle_menu2{display:none;}
           #burger_menu{width:40px; height:40px;}
           #burger_menu>img{width:100%; height:100%; filter:brightness(100);}
           #burger_menu:hover{cursor:pointer;}
          
           
           /*헤더 종료*/
   
          
   
           /*footer시작*/
           footer{width:100%; height:auto;  margin:0 auto; background-color:#fff;}
           #footer_article{width:100%; height:auto; margin:0 auto; display:flex; flex-direction:column; justify-content:space-around; align-items:center;}
           #footer_article > article{width:95%; height:200px; margin:20px 0px;}
           .footer_title{width:100%; height:30px; font-size:16px; color:#1c1c4c; font-weight:bold;  border-top:1px solid#6e655f; border-bottom:1px solid#efede6;}
           .footer_content{width:100%; height: 170px; display:flex; flex-direction:column; flex-wrap:wrap; justify-content:space-around;}
           .footer_content > span{width:50%; height:15px; padding:14px 0px;  color:#000; font-size:13px;}
           .footer_content > span > a{text-decoration:none; color:#000; font-size:13px;}
           .number{font-weight:bold;}
           #check_link{border-top:1px solid#6e655f;}
           #check_link > p{font-size:14px; color:#000;}
           #check_link > #check_link_box{width:95%; height:50px; display:flex; align-items:center;}
           #check_link > #check_link_box > .search_text{width:420px; height:40px; margin:10px 0px; border:1px solid#6e655f;}
           #check_link > #check_link_box > .search_icon{width:20px; height:40px; margin:10px 0px;}
           #check{width:100%; height:20px; display:flex; align-items:center; }
           #check > #check_text{width:95%; height:12px; font-size:10px; color:#000; }
           #check > #check_text > a{color:#000;}
           #social_conect{width:100%; height:20px; display:flex; justify-content:center;}
           #social_conect > a > .social_icon{background-color:#000; width:30px; height:30px; border-radius:50%; margin:30px 10px; display:flex; justify-content:center; align-items:center;}
           #social_icon2 > img{width:25px; height:20px;}
           #social_icon5 > img{width:25px; height:20px;}
           #social_icon6 > img{width:25px; height:20px;}
           #relation{width:100%; height:100px; margin:0 auto; border-top:1px solid#efede6;}
           #relation_info{width:100%; height:80px; margin:0 auto; display:flex;}
           #relation_logo{width:50%; height:80px; display:flex; align-items:center;}
           #relation_logo > img{width:25%; height:75%; margin:0px 5px;}
           #guide{width:50%; height:80px; display:flex; align-items:center; justify-content:space-around;}
           #guide > p{font-size:14px; color:#000;} 
           #guide > a > img{width:65px; height:20px;}
           #policy{width:100%; height:30px; display:flex; justify-content:center; background-color:#f2f0e9;}
           #policy > ul{width:100%; height:30px; display:flex; justify-content:space-around; align-items:center; font-size:11px; color:#000;}
           #policy > ul > li{text-align:center; display:inline-block; width:22%;}
           #policy > ul > li > a{text-decoration:none; color:#000;}
   
           }