 @charset "utf-8";
   
 @media(max-width:599px){
          
           #wrap {width:100%; height:auto; margin:0 auto;}
           .blank1{width:100%; height:80px; margin:0 auto;}

         /*슬라이더 시작*/
           #slider{width:100%; height:700px;}
           #slider > #background{width:100%; height:100%;}
           #slider > #logo2{width:250px; height:250px; margin:0 auto; position:relative; left:0; bottom:300px; }
           #slider > #logo2 > img{width:100%; height:100%; filter:brightness(100);}
           /*슬라이더 종료*/
       
           /*섹션 내용 section1 시작*/
           #section1{width:100%; height:90px; margin:0 auto; display:flex; align-items:center; justify-content:space-around;}
           #section1 > img{width:14%; height:83%;}
           #section1 > ul{width:auto; height:20px; display:flex; justify-content:space-around;}
           #section1 > ul > li > a{text-decoration:none; color:#1c1c4c; font-size:14px; font-weight:bold; padding:0px 20px;}
           #section1 > span{width:auto; height:20px;}
           #section1 > span > a{text-decoration:none; color:#1c1c4c; font-size:14px; font-weight:bold;}
   
           /*섹션 내용 section2 시작*/
           #section2{width:100%; height:75px; margin:0 auto; display:flex; flex-direction:column; align-items:center;}
           #section2 > #contact{width:100%; height:35px; display:flex; justify-content:center;}
           #section2 > #contact > span{color:#1c1c4c; font-size:16px; font-weight:bold; padding:5px;}
           #section2 > #contact > span > a{text-decoration:none; color:#1c1c4c; font-size:16px; font-weight:bold;}
           #section2 > #social{width:100%; height:35px; display:flex; justify-content:center; align-items:center; }
           #section2 > #social > span{color:#1c1c4c; font-size:16px; font-weight:bold;}
           #section2 > #social > .social_img{width:30px; height:30px; background-color:#1c1c4c; border-radius:50px; display:flex; justify-content:center; align-items:center; margin:5px;}
   
          
           /*섹션 내용 section3 시작*/
           #section3{width:100%; height:auto; margin:0 auto; display:flex; flex-direction:column; align-items:center; background-color:#f2f0e9;}
           #section3 > #section3_pho{width:95%; height:50%; display:flex; justify-content:center; overflow:hidden;}
           #section3 > #section3_pho > img{width:150%; height:100%;}
           #section3 > #section3_text{width:100%; height:50%; display:flex; display:flex; flex-direction:column; align-items:center; justify-content:center;}
           #section3 > #section3_text > #explan{width:95%; margin:2% 1%; display:flex; justify-content:center;}
           #section3 > #section3_text > #explan > p{color:#1c1c4c; font-size:16px; width:100%; text-align:center; line-height:30px; font-weight:bold;}
           #section3 > #section3_text > #time{width:95%; height: 164px; display:flex; flex-direction:column; align-content:space-between; flex-wrap:wrap; margin:5% 1% 1% 1%;}
           #section3 > #section3_text > #time > .time_title{width:48%; height:35px; font-size:20px; color:#1c1c4c; font-weight:bold; }
           #section3 > #section3_text > #time > .time_content{width:48%; height:30px; font-size:16px; color:#1c1c4c; font-weight:bold;}
          
          
           /*섹션 내용 section4 시작*/ 
           /*첫번째 라인 article 3개*/
           #section4{width:100%; height:auto; margin:0 auto; display:flex; flex-flow:row wrap; align-content:space-around; justify-content:center;}
           #section4 > #section4_line1{width:95%; height:auto; display:flex; flex-direction:column; align-items:center;}
           #section4 > #section4_line1 > .section4_content1{width:95%; height:auto; display:flex; flex-direction:column; align-items:center; margin:3% 0%;}
           .section4_pho1{width:100%; height:50%; overflow:hidden;}
           .section4_pho1 > img{width:100%; height:100%;}
           .section4_pho1 > img:hover{transform:scale(1.05); transition:0.3s;}
           .section4_text1{width:100%; height:50%; text-align:center; display:flex; flex-direction:column; align-items:center; }
           .section4_text1 > h3{width:90%; font-size:25px; color:#1c1c4c; font-weight:bold; padding:0px 10px;}
           .section4_text1 > p{ width:95%; height:auto; font-size:16px; color:#1c1c4c; font-weight:bold; line-height:30px;}
           .section4_link1{width:100%; height:20px; text-align:center;}
           .section4_link1 > a{width:100%; border-bottom:1px solid#1c1c4c; text-decoration:none; color:#1c1c4c; font-size:15px; font-weight:bold;}
   
           /*두번째 라인 article 3개, 첫 라인보다 높이 낮음*/
           #section4 > #section4_line2{width:95%; height:auto; display:flex; flex-direction:column; align-items:center;}
           #section4 > #section4_line2 > .section4_content2{width:95%; height:auto; display:flex; flex-direction:column; align-items:center; justify-content:center;}
           .section4_pho2{width:100%; height:50%; overflow:hidden;}
           .section4_pho2 > img{width:100%; height:100%;}
           .section4_pho2 > img:hover{transform:scale(1.05); transition:0.3s;}
           .section4_text2{width:100%; height:50%; text-align:center; display:flex; flex-direction:column; align-items:center;  justify-content:flex-start;}
           .section4_text2 > h3{width:90%; font-size:25px; color:#1c1c4c; font-weight:bold; padding:10px;}
           .section4_text2 > p{width:95%; height:auto; font-size:16px; color:#1c1c4c; font-weight:bold; line-height:30px;}
           .section4_link2{width:100%; height:20px; text-align:center;}
           .section4_link2 > a{width:100%; border-bottom:1px solid#1c1c4c; text-decoration:none; color:#1c1c4c; font-size:15px; font-weight:bold;}
           #section4_articel4{display:none;}
           #section4_articel6{display:none;}


           /*section5 쉐프스토리 시작*/
           #section5{width:100%; height:800px; margin:0 auto; display:flex; flex-wrap:wrap; justify-content:center;}
           #section5 > #section5_photo{width:100%; height:100%; overflow:hidden; display:flex; justify-content:center; align-items:center;}
          
           #section5 > #section5_photo > img{width:100%; height:100%; filter:brightness(0.7)}
           #section5> #section5_text{width:100%; height:300px; text-align:center; position:relative; left:0; bottom:500px; }
           #section5 > #section5_text > h2{color:#fff; font-size:30px; text-shadow:3px 3px 3px #666; font-weight:bold; letter-spacing:4px; padding:30px;}
           #section5 > #section5_text > p{color:#fff; font-size:22px; text-shadow:3px 3px 3px #666; letter-spacing:1px; line-height:40px; padding:10px 0px 70px 0px;}
           #section5 > #section5_text > span{border-bottom:1px solid #fff;}
           #section5 > #section5_text > span > a{text-decoration:none; color:#fff; font-size:23px;  text-shadow:3px 3px 3px #666; letter-spacing:1px;}
   
           /*section6 음식사진 슬라이드 시작*/
           #section6{width:100%; height:700px; margin:0 auto; display:flex; flex-direction:column; align-items:center; justify-content:space-around; background-color:#f2f0e9;}
           #section6 > #section6_pho1{width:100%; height:400px; overflow:hidden; display:flex; align-items:center;}
           #section6 > #section6_pho1 > img{width:100%; height:100%;}
           #section6 > #section6_text{width:95%; height:250px; display:flex; flex-direction:column; justify-content:space-around;}
           #section6_text > h1{width:100%; color:#1c1c4c; font-size:25px; font-weight:bold; }
           #section6_text > p{width: 100%; color:#1c1c4c; font-size:20px; line-height:35px; padding:10px 0px;  }
           #section6 > #section6_pho2{display:none;}
   
           /*section7 고객 리뷰 시작*/
           #section7{width:100%; height:auto; margin:0 auto;}
           #section7 > h1{width:100%; height:50px; font-size:30px; color:#1c1c4c; font-weight:bold; letter-spacing:2px; text-align:center; padding:5px 0px 0px 0px;}
           #section7_article{width:95%; height:auto; display:flex; flex-direction:column; align-items:center; margin:0 auto;}
           #section7_article > article{width:100%; height:240px; margin:15px 5px; border:1px solid#6e655f;}
           .name > a{text-decoration:none; font-size:21px; font-weight:bold; color:#000; letter-spacing:1px;}
           .date{font-size:14px; color:#6e655f; letter-spacing:1px; padding:5px 0px 15px 0px; }
           .rate{width:200px; height:20px;}
           .rate > img{width:15px; height:15px;}
           .review{width:95%; height:80px; overflow:hidden; font-size:16.5px; color:#000; letter-spacing:1px; line-height:25px; font-weight:bold; }
           .more > a{text-decoration:none; font-size:16.5px; color:#6e655f; font-weight:bold;}
           .more > a:hover{border-bottom:1px solid#6e655f;}
           .link{width:245px; height:60px; padding:15px 0px;}
           .link > a {text-decoration:none; display:flex; flex-direction:row;}
           .link > a > img{width:40px; height:40px; }
           .link_line{display:flex; flex-direction:column; justify-content:space-between; padding:0px 10px;}
           .link_line > span{font-size:13px; color:#6e655f;}
           .link_line > p{font-size:15px; color:#6e655f; font-weight:bold;}
           
           /*section8 상세메뉴 시작*/
           #section8{width:100%; height:auto; margin:0 auto;  padding:30px 0px 80px 0px; background-color:#f2f0e9;} 
           #menu_nav{width:95%; height:auto;  display:flex; flex-direction:column; align-items:center;}
           #menu_nav > h2{width:95%; color:#1c1c4c; font-size:28px; font-weight:bold;}
           #menu_nav > ul{width:95%; display:flex; flex-direction:column;}
           #menu_nav > ul > li{width:95%; height:30px; margin:2px 0px;}
           #menu_nav > ul > li:hover{text-shadow:1px 1px 1px #6e655f;}
           #menu_nav > ul > li > a{text-decoration:none; font-size:18px; line-height:25px; letter-spacing:1px; color:#555;}
           #menu_content{width:95%; margin:0px 10px; display:flex; flex-direction:column; justify-content:space-around;}
           #section8 > h3{text-align:center; font-size:25px; color:#1c1c4c; font-weight:bold; padding:20px 0px;}
           #menu_content > .menu_item{width:100%; height:60px; margin:5px 0px; display:flex; flex-direction:column; justify-content:center;}
           .item_title{font-size:18px; font-weight:300px; color:#000;}
           .item_info{font-size:13px; color:#000;}
           .item_price{display:block; font-size:18px; color:#000; }
           #travel_banner{width:100%; height:50px; text-align:center; padding:25px 0px; }
           #travel_banner > a > img{width:320px; height:22px;}
 }